<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate remote-subscribe" target="_blank" novalidate data-success-message="{{ 'general.footer.mailing_list.success_message' | t }}" data-invalid_entry="{{ 'general.footer.mailing_list.invalid_entry' | t }}">
  <div class="input-wrapper">
    <input type="email" value="" name="email" id="mce-EMAIL" placeholder="{{ 'general.footer.mailing_list.email_input_placeholder' | t }}" />
    <input type="submit" class="submit" value="{{ 'general.footer.mailing_list.email_input_submit' | t }}" name="subscribe" id="mc-embedded-subscribe"/>
  </div>
  <div class="error-message"></div>
</form>