{% include 'promo_bar' %}
<nav class="menu-header {% if template == 'index' %}" data-menu-height-change{% else %}minimized"{% endif %}>
  <div class="overlay-layer"></div>
  <div class="menu-wrapper">

    <div class="mobile-menu-toggle">
      <div class="overlay-layer"></div>
      <a class="open-menu" id="mobile-menu-trigger">
        <div class="lines-button hamburger">
          <span class="lines"></span>
        </div>
      </a>
    </div>

    <div class="logo">
      {% include 'logo_svg' %}
      <a href="/"></a>
    </div>

     {% include 'dropdown_menu' %}

    {% include 'overlay_menu' %}

     <div class="user-nav">
        <a href="/account" class="account">
          {% include 'user_icon_svg' %}
        </a>
        {% include 'cart_icon_count' %}
      </div>

  </div>
</nav>