{% for link in linklists[collection_linklist].links %}
{% assign this_collection = link.object %}
<h2>{{ link.title }}</h2>
<div class="product-grid-wrapper" data-carousel>
  {% for product in this_collection.products %}
    {% include 'product_thumbnail', this_product: product %}
  {% endfor %}
</div>
<div class="cta-text">
  <a href="/collections/all-beers">Ver todos los productos</a>
</div>
{% endfor %}

{% include 'data_layer_product_impressions', impressions_collection: this_collection, list: 'Product Carousel' %}