{% if sanitized_product_type == 'beerpack' %}
  {% capture heading %}{{ 'product_page.included_products' | t }}{% endcapture %}
{% else %}
  {% capture heading %}{{ 'product_page.suggested_products' | t }}{% endcapture %}
{% endif %}

{% assign pack_products = '' %}

{% for tag in product.tags %}
  {% assign split_tag = tag | split: ':' %}
  {% if split_tag[0] contains 'curated' %}

    {% if pack_products != '' %}
      {% assign pack_products = pack_products | append: ',' %}
    {% endif %}

    {% assign pack_products = pack_products | append: split_tag[1] %}
    {% endif %}
{% endfor %}

{% assign pack_products = pack_products | split: ',' %}
{% if pack_products.size > 0 %}
  <ul class="related-products">
    <h2>{{ heading }}</h2>
    {% for product_handle in pack_products %}
      {% include 'product_thumbnail', this_product: all_products[product_handle] %}
    {% endfor %}
  </ul>
{% endif %}
<!--REVIEW: how to handle ordering when > 10 products? -->