{% assign sanitized_product_type = product.type | handleize %}
<div class="product-wrapper {{ sanitized_product_type }}" data-handle="{{ product.handle }}">

  <section class="product-info">
    {% include 'product_top_section' %}

    <section class="images mobile" data-product-images>
      {% include 'product_images' %}
    </section>

    {% if sanitized_product_type == 'beer' %}
    <ul class="product-meta">
      <li>
        {% include 'product_meta', this_product: product, title: 'color' %}
      </li>
      <li>
        {% include 'product_meta', this_product: product, title: 'country', image_asset: true %}
      </li>
      <li>
        {% include 'product_meta', this_product: product, title: 'style' %}
      </li>
      <li>
        {% include 'product_meta', this_product: product, title: 'ABV' %}
      </li>
      <li>
        {% include 'product_meta', this_product: product, title: 'flavor', image_asset: true %}
      </li>
    </ul>
    {% endif %}
    <span>{{ 'product_page.not_for_sale' | t }}</span>
    {% include 'product_description' %}
  </section>

  <section class="images" data-product-images>
    {% include 'product_images' %}
  </section>

  {% include 'related_products' %}
</div>
